<div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="First name" name="first_name" value="{{this.first_name}}">
            <label for="floatingInput">First Name</label>
        </div>

    </div>
    <div class="col-6">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Last name" name="last_name" value="{{this.last_name}}">
            <label for="floatingInput">Last Name</label>
        </div>
    </div>

    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Phone Number" name="phone" value="{{this.phone}}">
            <label for="floatingInput">Phone Number</label>
        </div>

    </div>
    <div class="col-6">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Eamil Id" name="email" value="{{this.email}}">
            <label for="floatingInput">Email Id</label>
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height: 200px" name="comment">{{this.comment}}</textarea>
            <label for="floatingTextarea2">Comments</label>
        </div>
    </div>

    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
